#accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #e1dada;
}

.btn {

    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.25), inset 8px 8px 8px rgba(255, 255, 255, 0.25), inset -8px -8px 8px rgba(0, 0, 0, 0.25);
    background-color: #6A5AE0;
    text-align: center;
    color: white;
    border-style: none;
    font-size: 20px;
    width: 20%;
    border-radius: 20px;
    margin: 20px;
    padding: 20px 0;
}


#accueil .score {

    border: solid 2px;
    width: 80%;
    height: 60%;
}