@import "setting";

body {
   // background-color: $colorOne;
   font-family: 'Cinzel Decorative', Arial, sans-serif;
   background-image: url(/assets/img/lose.png);
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
}

.btn-play{
   position: absolute;
   display: block;
   cursor: pointer;
   // min-height: 100vh;
   // max-height: 100vh;
   bottom: 260px;
   height: 25px;
   width: 120px;
   right: 115px;
   overflow: hidden;
   // visibility: hidden;
   // z-index: -1;
   // opacity: 0;

}
.btn-home{
   position: absolute;
   display: block;
   cursor: pointer;
   
   bottom: 200px;
   right:130px;
   overflow: hidden;
   // visibility: hidden;
   // z-index: -1;
   // opacity: 0;
}



